body {
    margin: 0;
    background-color: white;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
  }

main{
    width: 80%;
    max-width: 1080px;
    height: 1000px;
    margin: 150px auto;
    padding: 50px;
    background: #2b343a;
    border-radius: 2px;
    display: flex;
    flex-direction: row;

}

#logoimg{
    width: 50%;
    background: white;
    margin: 10px;
}

#text{
    width: 50%;
    background: white;
    margin: 10px;

}