html {
  scroll-behavior: smooth;
}

.banner {
  text-align: center;
  img {
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    z-index: 1;
  }
}

main section {
  top: 70vh;
  position: absolute;
  margin-bottom: 50vh;
  display: inline-grid;
  grid-gap: 30px;
  width: 100%;
  justify-content: center;
  #box1,
  #box4 {
    grid-column: 1;
  }
  #box2,
  #box5 {
    grid-column: 2;
  }
  #box3,
  #box6 {
    grid-column: 3;
  }
}

.box {
  text-align: center;
  height: 300px;
  width: 400px;
}

#box1b {
  background: url('https://cdnb.artstation.com/p/assets/images/images/010/350/317/large/vadim-sadovski-y21.jpg?1523967399');
  background-size: cover;
}
#box2b {
  background: url('https://images.freeimages.com/images/large-previews/bb8/rome-1233000.jpg');
  background-size: cover;
}
#box3b {
  background: url('https://images.freeimages.com/images/large-previews/83e/stained-glass-portraits-1220081.jpg');
  background-size: cover;
}
#box4b {
  background: url('https://cdna.artstation.com/p/assets/images/images/003/649/484/large/stefan-celic-stefan-celic-plague-doctor-copy.jpg?1476032393');
  background-size: cover;
}
#box5b {
  background: url('https://images.freeimages.com/images/large-previews/aaa/konzentrationslager-auschwitz-birkenau-und-auschwi-1413373.jpg');
  background-size: cover;
}
#box6b {
  background: url('https://images.freeimages.com/images/large-previews/869/child-from-kenya-1440102.jpg');
  background-size: cover;
}

.boxHeader {
  pointer-events: none;
  color: white;
}

@media (max-width: 1280px) {
  .banner {
    img {
      height: 400px;
    }
  }
  main section {
    #box1,
    #box3,
    #box5 {
      grid-column: 1;
    }
    #box2,
    #box4,
    #box6 {
      grid-column: 2;
    }
  }
}

@media (max-width: 850px) {
  .banner {
    margin-top: 80px;
    img {
      height: 250px;
    }
  }
  main section {
    #box1,
    #box2,
    #box3,
    #box4,
    #box5,
    #box6 {
      grid-column: 1;
    }
  }
  #boxImage {
    height: 500px;
    width: 600px;
  }
}

@media (max-width: 651px) {
  #boxImage {
    height: 80vh;
    width: 95vw;
  }
}

@media (max-width: 602px) {
  .banner img {
    width: 100vw;
  }
}
