html {
  scroll-behavior: smooth;
}

.banner {
  text-align: center;
}

.banner img {
  width: 80vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.error {
  text-align: center;
}

#error {
  margin: 20vh auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 5vw;
}

main section {
  top: 70vh;
  position: absolute;
  margin-bottom: 50vh;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-gap: 30px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section #box1,
main section #box4 {
  -ms-grid-column: 1;
  grid-column: 1;
}

main section #box2,
main section #box5 {
  -ms-grid-column: 2;
  grid-column: 2;
}

main section #box3,
main section #box6 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.box {
  text-align: center;
  height: 300px;
  width: 400px;
  -webkit-filter: sepia(70);
          filter: sepia(70);
}

.box:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.box:hover .boxHeader {
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#box1b {
  background: url("https://cdnb.artstation.com/p/assets/images/images/010/350/317/large/vadim-sadovski-y21.jpg?1523967399");
  background-size: cover;
}

#box2b {
  background: url("https://images.freeimages.com/images/large-previews/bb8/rome-1233000.jpg");
  background-size: cover;
}

#box3b {
  background: url("https://images.freeimages.com/images/large-previews/92e/angel-1-1480339.jpg");
  background-size: cover;
}

#box4b {
  background: url("https://cdna.artstation.com/p/assets/images/images/003/649/484/large/stefan-celic-stefan-celic-plague-doctor-copy.jpg?1476032393");
  background-size: cover;
}

#box5b {
  background: url("https://images.freeimages.com/images/large-previews/aaa/konzentrationslager-auschwitz-birkenau-und-auschwi-1413373.jpg");
  background-size: cover;
}

#box6b {
  background: url("https://images.freeimages.com/images/large-previews/869/child-from-kenya-1440102.jpg");
  background-size: cover;
}

.boxHeader {
  pointer-events: none;
  color: #dbb24b;
  text-shadow: 1px 1px white;
  padding-top: 30%;
  font-size: 40px;
  opacity: 0;
}

@media (max-width: 1280px) {
  .banner img {
    height: 400px;
  }
  main section #box1,
  main section #box3,
  main section #box5 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  main section #box2,
  main section #box4,
  main section #box6 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (max-width: 850px) {
  .banner {
    margin-top: 80px;
  }
  .banner img {
    height: 250px;
  }
  main section #box1,
  main section #box2,
  main section #box3,
  main section #box4,
  main section #box5,
  main section #box6 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #boxImage {
    height: 500px;
    width: 600px;
  }
}

@media (max-width: 651px) {
  #boxImage {
    height: 80vh;
    width: 95vw;
  }
}

@media (max-width: 602px) {
  .banner img {
    width: 100vw;
  }
}
/*# sourceMappingURL=index.css.map */