.banner {
  text-align: center;
  img {
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    z-index: 1;
  }
}

.error {
  text-align: center;
}

#error {
  margin: 20vh auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 5vw;
}

main section {
  top: 70vh;
  position: absolute;
  margin-bottom: 50vh;
  display: inline-grid;
  grid-gap: 30px;
  width: 100%;
  justify-content: center;
  #box1,
  #box4 {
    grid-column: 1;
  }
  #box2,
  #box5 {
    grid-column: 2;
  }
  #box3,
  #box6 {
    grid-column: 3;
  }
}

.box {
  text-align: center;
  height: 300px;
  width: 400px;
  filter: sepia(70);
}
.box:hover {
  filter: none;
  transition-duration: 1s;
  .boxHeader {
    opacity: 1;
    transition-duration: 1s;
  }
}

#box1b {
  background: url('/img/rummet.jpg');
  background-size: cover;
}
#box2b {
  background: url('/img/rom.jpg');
  background-size: cover;
}
#box3b {
  background: url('/img/kirke.jpg');
  background-size: cover;
}
#box4b {
  background: url('https://cdna.artstation.com/p/assets/images/images/003/649/484/large/stefan-celic-stefan-celic-plague-doctor-copy.jpg?1476032393');
  background-size: cover;
}
#box5b {
  background: url('/img/besættelsen.jpg');
  background-size: cover;
}
#box6b {
  background: url('/img/barn.jpg');
  background-size: cover;
}

.boxHeader {
  pointer-events: none;
  color: white;
  text-shadow: 1px 1px black;
  padding-top: 30%;
  font-size: 40px;
  opacity: 0;
}

@media (max-width: 1280px) {
  .banner {
    img {
      height: 400px;
    }
  }
  main section {
    #box1,
    #box3,
    #box5 {
      grid-column: 1;
    }
    #box2,
    #box4,
    #box6 {
      grid-column: 2;
    }
  }
}

@media (max-width: 850px) {
  .banner {
    margin-top: 80px;
    img {
      height: 250px;
    }
  }
  main section {
    top: 45vh;
    #box1,
    #box2,
    #box3,
    #box4,
    #box5,
    #box6 {
      grid-column: 1;
    }
  }
  #boxImage {
    height: 500px;
    width: 600px;
  }
}

@media (max-width: 651px) {
  #boxImage {
    height: 80vh;
    width: 95vw;
  }
}

@media (max-width: 602px) {
  .banner img {
    width: 100vw;
  }
}
