h1 {
  font-family: 'Kameron', serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #dbb24b;
}
h2 {
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 50px;
}
p {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  text-align: justify;
  color: white;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

main {
  width: 80%;
  max-width: 1080px;
  height: fit-content;
  margin: 150px auto;
  padding: 50px;
  background: #2b343a;
  border-radius: 2px;
  contain: content;
}

#plakatText {
  padding: 0;
}

#plakater {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 40px 0;
  img {
    width: 200px;
    height: 280px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 30px;
  }
  main {
    max-width: 100%;
  }
  #plakater img {
    max-width: 25%;
  }
}
